name: Sync to GitLab

on:
  push:
    branches:
      - master
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    name: Sync GitHub to GitLab

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags

      - name: Mirror to GitLab
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: https://gitlab.com/Kinghazard/portfolio_project.git
          ssh_private_key: ${{ secrets.GITLAB_SSH_PRIVATE_KEY }}
